<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rootekstudio.repeatsandroid">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".DynamicLinks"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="rootekstudio.wordpress.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PreviewAndDownloadSetActivity"
            android:label="@string/setPreview"/>
        <activity
            android:name=".activities.ShareActivity"
            android:label="@string/sharing" />
        <activity
            android:name=".activities.RepeatsCommunityStartActivity"
            android:label="@string/repeatsCommunity" />
        <activity android:name=".activities.SignInActivity" />
        <activity
            android:name=".activities.ProfileInfoActivity"
            android:label="@string/repeats_account" />
        <activity android:name=".activities.FirstRunActivity" />

        <receiver
            android:name=".OnSystemBoot"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rootekstudio.repeatsandroid.activities.AddEditSetActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.MailSignIn"
            android:label="@string/sign_in_email"
            android:theme="@style/MailSignInStyle" />

        <receiver
            android:name=".notifications.RepeatsQuestionSend"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".notifications.AdvancedTimeNotification"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".UserReply"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.AnswerActivity"
            android:label=""
            android:theme="@style/transculentTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="@string/Settings">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/Search" />
        <activity
            android:name=".activities.AddEditSetActivity"
            android:label="@string/title_activity_repeats_add_edit" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EnableSetsListActivity"
            android:label="@string/notifiFromSets" />
        <activity
            android:name=".activities.FastLearningActivity"
            android:label="@string/FastLearning" />
        <activity
            android:name=".activities.SilenceHoursActivity"
            android:label="@string/silenceHours" />
        <activity
            android:name=".activities.ChangeDeliveryListActivity"
            android:label="@string/deliverySettings" />
        <activity
            android:name=".activities.AddAdvancedTimeActivity"
            android:label="@string/editRule" />
    </application>

</manifest>