<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rootekstudio.repeatsandroid">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rootekstudio.repeatsandroid.RepeatsAddEditActivity"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".RepeatsAddEditActivity"
            android:label="@string/title_activity_repeats_add_edit"
            android:screenOrientation="locked" />
        <receiver
            android:name=".RepeatsQuestionSend"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".UserReply"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AnswerActivity"
            android:label=""
            android:theme="@style/transculentTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/Settings" />
        <activity android:name=".EnableSetsList"
            android:label="@string/notifiFromSets"/>
        <activity android:name=".TestActivity"
            android:screenOrientation="locked"
            android:label="@string/Test"/>
        <activity android:name=".TestResults"
            android:label="@string/Test"/>
        <activity android:name=".SearchActivity"
            android:label="@string/Search">
        </activity>
    </application>

</manifest>